.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 52px;
  padding: 26px;
  font-size: 60px;
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 9999;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(170, 170, 170, 1);
  box-shadow: 0px 5px 5px 0px rgba(170, 170, 170, 1);
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: -23%;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -30px;
  /* Note, this must be half the font size */
}

div.row,
div.col {
  padding: 0;
}

.item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.list-button {
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  position: relative;
  min-height: 22px;
  float: left;
  max-height: 50px;
}

.list-item {
  font-style: italic;
  background-color: #f5f5f5;
  color: #999;
  padding: 0;
}

.item-button-left {
  padding-left: 0;
}

.item-complex .item-content {
  font-style: italic;
  background-color: #f5f5f5;
  color: #999;
  padding: 0;
}

.list-item .inactive-item {
  padding: 0;
}

.col.col-left {
  padding-left: 30px;
}

.item-content > .row {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
}

.item-options .button {
  min-width: 0;
}

.quantity-button {
  padding-left: 0;
  padding-right: 0;
  margin-left: 4px;
  margin-right: 4px;
}