<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/groceries.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/controllers.js"></script>
    
  </head>
  <body ng-app="groceries" ng-controller="ListCtrl">
    <ion-pane>
      <ion-header-bar align-title="center" class="bar-balanced">
        <h1 class="title">
          Groceries
          <i class="icon ion-bag padding-horizontal"></i>
        </h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <div class="item item-divider">
            Active List
          </div>
          <ion-item ng-repeat="item in vm.activeList">
            <div class="row">
              <div class="col">
                <div>
                  {{item.name}}
                </div>                
              </div>
              <div class="col" style="text-align: right">
              <button class="button button-icon ion-minus list-button"
                on-tap="subtractQuantity(item, $index)"
                ></button>
                <div style="float: left; width: 40%; text-align: center">{{item.quantity}}</div>
                <button class="button button-icon ion-plus list-button"
                  
                on-tap="addQuantity(item)"
                ></button>
              </div>
              <div class="col" style="text-align: right">
                {{item.price * item.quantity | currency}}
              </div>
            </div>
          </ion-item>
          
          <div class="item item-divider item-button-right">
            <div style="height: 30px"></div>
            <div class="buttons">
              {{vm.total | currency}}
            </div>
          </div>
        </ion-list>
        <ion-list>
          <div class="item item-divider">
            Inactive List
          </div>
          <ion-item ng-repeat="item in vm.inactiveList" style="font-style: italic; background-color: #f5f5f5; color: #999" class="item-button-left">
            <button class="button button-icon ion-plus" on-tap="activateItem(item, $index)" style="margin-top: -7px"></button>
            <div class="row">
              <div class="col">
                <div>
                  {{item.name}}
                </div>                
              </div>
              <div class="col">
              </div>
              <div class="col" style="text-align: right">
                <button class="button button-icon ion-minus-circled list-button"
                on-tap="deleteItem($index)"
                ></button>
              </div>
              <div class="col" style="text-align: right">
                {{item.price | currency}}
              </div>
            </div>
          </ion-item>
          
        </ion-list>
        <div style="height: 100px; width: 1px">
        </div>  
      </ion-content>
      <div class="float-button">
        <span class="height-fix">
          <a class="content button-clear" on-tap="addClicked()">
            <i class="button-icon ion-plus-circled positive"></i>
          </a>
        </span>
      </div>
    </ion-pane>
  </body>
</html>
